:root {
  background-color: white;
}

.navheader {
  background-color: #0082e6;
  line-height: 2.2rem;
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;  
 
}

.links {
  margin-right: 10px;
  padding:30px;
  font-size: 1.5rem;
}


a, a:visited {
  color:white;
  text-decoration: none;
}

.thename {
  font-size: 3rem;
  color:white;
  font-weight:bolder;
}

.nav {
  margin-right: 20px;
}


.itemside {
  font-size: 1.5rem;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: right;
  border-right: 10px solid #0d2b47;
  margin-right: 20px;
  color: #0182e7;
  padding:10px;
}

.container {
  margin-top: 20px;
  height: 100vh;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5rem;

}

.resume-content {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.side-personal {
  grid-row: 1 / 2;
  grid-column: 1/  2;
}

.side-contact {
  grid-row: 2 / 3;
  grid-column: 1/  2;
}

.side-primary-education {
  grid-row: 3/ 4;
  grid-column: 1/  2;
}

.side-tertiary-education {
  grid-row: 4 / 5;
  grid-column: 1/  2;
}
.side-it-knowledge {
  grid-row: 5 / 6;
  grid-column: 1/  2;
}

.side-work {
  grid-row: 6 / 7;
  grid-column: 1/  2;
}

.side-interests {
  grid-row: 7 / 8;
  grid-column: 1/  2;
}

.side-languages {
  grid-row: 8/ 9;
  grid-column: 1/  2;
}

.personal-content {
  grid-row: 1/ 2;
  grid-column: 2/  3;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.contact-info{
  grid-row: 2/ 3;
  grid-column: 2/  3;
 
}

.primary-ed-content {
  grid-row: 3/ 4;
  grid-column: 2/  3;
}

.teriary-ed-content {
  grid-row: 4/ 5;
  grid-column: 2/  3;
}

.tertiary {
  margin-bottom: 10px;
}

.it-knowledge {
  grid-row: 5/ 6;
  grid-column: 2/  3;
}

ul li {
  list-style: disc;
}

.it-content {
  margin-left: 5px;
}

.work-content {
  grid-row: 6/ 7;
  grid-column: 2/  3;
}

.work-content p {
  margin-bottom: 20px;
}

.interest-list {
  margin-left: 15px;
}

.interests-content {
  grid-row: 7/ 8;
  grid-column: 2/  3;
}



.languages-content {
  grid-row: 8/ 9;
  grid-column: 2/  3;
  margin-left: 15px;
  
}


.language-list li {
  list-style-type: none;
}

/* create new blog form */
.create {
  margin-top: 10px;
  width:50%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif; 
  color:white;
 
}

.form-content {
  background-color: #0082e6;
  padding: 20px;

}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}
.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: white;
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}



@media screen and (max-width:700px) {
  h1 {
      font-size: 3rem;
      margin-left:150px ;
  }
}

@media screen and (max-width:400px) {
      h1 {
          font-size: 1rem;
          margin-left:150px ;
          
      }

      .title-name {
          font-size: 1rem;
       }

}